$primary: #735751;
$secondary: #a78a7f;
$info: #bf4342;


@import "bootstrap/scss/bootstrap.scss";

*{
    font-family: 'Lexend', sans-serif;
}

.header-separator{
    height: 20px;
    width: 3px;
}

a{
    text-decoration: none;
}

// CARD

.cardHover{
    transition: transform 0.3s;
}

.cardHover:hover{
    transform: scale(1.05);
}

// IMG FRAME

.frame{
    position: relative;
    width: 50%;
}

.frame>img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame::after{
    content: '';
    display: block;
    padding-bottom: 100%;
}